stages:
  - build
  - deploy

variables:
  PROJECT_DIR: "/home/ivan/GenA2"

build_services:
  stage: build
  script:
    - echo "Обновляем код в $PROJECT_DIR"
    - cd $PROJECT_DIR || exit 1
    - git fetch origin
    - git reset --hard origin/main
    - echo "Собираем Docker-образы"
    - docker compose build
  only:
    - main
  tags:
    - GenA_61


deploy_services:
  stage: deploy
  script:
    - echo "Запускаем контейнеры через docker compose"
    - cd $PROJECT_DIR || exit 1
    - docker compose down --remove-orphans
    - docker compose up -d
  only:
    - main
  tags:
    - GenA_61