services:
  agent_api:
    build: ./agent_api
    container_name: ${AGENT_API_CONTAINER_NAME}
    ports:
      - "8790"
    env_file:
      - ./.env
    networks:
      - ${GENA_NET}
    extra_hosts: 
      - "host.docker.internal:host-gateway"
    restart: unless-stopped
    depends_on:
      - chunker
      - ruadapt-qwen

  gena_web:
    build: ./gena_web
    container_name: ${GENA_WEB_CONTAINER_NAME}
    ports:
      - "27369:8516"
    volumes:
      - ./gena_web:/app
    extra_hosts: 
      - "host.docker.internal:host-gateway"
    environment:
      - PYTHONUNBUFFERED=1
    env_file:
      - ./.env
    networks:
      - ${GENA_NET}
    restart: unless-stopped

  dataset_api:
    build: ./dataset_api
    container_name: ${DATASET_API_CONTAINER_NAME}
    ports:
      - "8789"
    env_file:
      - ./.env
    networks:
      - ${GENA_NET}
    restart: unless-stopped

  task_worker:
    build: ./task_worker
    container_name: ${TASK_WORKER_CONTAINER_NAME}
    env_file:
      - ./.env
    networks:
      - ${GENA_NET}
    restart: unless-stopped
    depends_on:
      - dataset_api
      - agent_api

  chunker:
    build: ./chunker
    container_name: ${GENA_CHUNKER_CONTAINER_NAME}
    ports:
      - "8517"
    env_file:
      - ./.env
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]
    runtime: nvidia
    networks:
      - ${GENA_NET}
    restart: unless-stopped

  ruadapt-qwen:
    image: ghcr.io/ggml-org/llama.cpp:server-cuda
    container_name: ${RUADAPT_QWEN_SERVER_CONTAINER_NAME}
    restart: unless-stopped
    ports:
      - "27362:8000"
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]
    volumes:
      - /home/ivan/models:/models
    command: >
      -m /models/${MODEL_NAME}
      --parallel 1
      --ctx-size 16384
      --port 8000
      --n-gpu-layers 60
      --main-gpu 0
      --tensor-split 1.0
      -fa
    runtime: nvidia
    networks:
      - ${GENA_NET}

networks:
  gena_net:
    driver: bridge