# MongoDB
MONGO_USERNAME=
MONGO_PASSWORD=
MONGO_HOST=
MONGO_PORT=
MONGO_DB_NAME=
MAX_MESSAGES_HISTORY=

# Milvus
MILVUS_HOST=
MILVUS_PORT=

# API

LLM_MODEL_NAME=
LLM_URL_MODEL=
LLM_API_KEY=

API_GEN_QUE_URL=http://agent-api:8790/process_prompt/

AGENT_API_URL = http://agent-api:8790

# Embedding
TEI_MODEL_NAME=
TEI_URL_EMBEDDER=
TEI_API_KEY=

API_DATASET_URL=http://dataset-api:8789

# LLM
MAX_LEN_USER_PROMPT=
API_CHANKS_URL=
CHUNKS_DIR=./chunks
MODEL_NAME=


#DOCKER
GENA_NET=gena_net

AGENT_API_CONTAINER_NAME=agent-api
GENA_WEB_CONTAINER_NAME=gena_web
DATASET_API_CONTAINER_NAME=dataset-api
TASK_WORKER_CONTAINER_NAME=task_worker
GENA_CHUNKER_CONTAINER_NAME=gena-chunker
RUADAPT_QWEN_SERVER_CONTAINER_NAME=quadapt_qwen_server